.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: var(--background-tertiary);
  color: var(--content-primary);
  font: var(--label-medium);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--background-secondary);
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 0.5rem;
    background: linear-gradient(45deg, var(--gradient-border));
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    opacity: 0;
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: -1;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
