*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--background-primary);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 22.66%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    url("../assets/shapes.png");
  overflow-x: hidden;
}

#app {
  display: flex;
  justify-content: center;
}
:root {
  --margin-inline: clamp(2.21875rem, 6vw, 8.375rem);
  --margin-top: 4.75rem;
}
.container {
  width: 100%;
  max-width: 68.625rem;
  min-width: 19.9375rem;
  margin-inline: var(--margin-inline);
  margin-top: var(--margin-top);
}

@media (width <= 24.375em) {
  :root {
    --margin-top: 2.75rem;
  }
}

@media (max-width: 54.375em) {

}
