main {
  width: 100%;
  max-width: 68.625rem;
  & .container-main {
    width: 100%;
    max-width: 68.625rem;
    display: flex;
    gap: 6.75rem;
    margin-top: 5.5625rem;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (width <= 26.875em) {
  main {
    & .container-main {
      margin-bottom: 5rem;
      & .container-header-questions {
        & .header-text2 {
          & .gradient,
          & .white {
            font: var(--display-medium);
          }
        }
        & .none-1 {
          display: none;
        }
      }
      & form {
        & .title-form {
          & p {
            font: var(--paragraph-medium);
            color: var(--content-secondary);
          }
        }
      }
    }
  }
}

@media (max-width: 62.0625em) {
  main .container-main {
    flex-direction: column;
    margin-top: 2.875rem;
    gap: 2.625rem;
  }
  main .container-main .container-header-questions,
  main .container-main form {
    max-width: 100%;
    flex: 1 1 auto;
  }
  main .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
