section.questions {
  width: 100%;
  max-width: 31.75rem;
  & .question {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

  & .q-textos {
    display: flex;
    flex-direction: column;
    & .q-text1 {
      font: var(--paragraph-medium);
      color: var(--content-brand);
    }
    & .q-text2 {
      font: var(--paragraph-small);
      color: var(--content-secondary);
    }
  }
}

@media (max-width: 54.375em) {
  .displaynone-2 {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2.75rem;
  }
}
