.column-gap-36 {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.none {
  display: none;
}

.none-2 {
  display: none;
}

.button.hidden {
  display: none;
  opacity: 0;
}

@media (width <= 26.875em) {
  .none-2 {
    display: flex;
    margin-bottom: 2.75rem;
  }
}
