:root {
  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  /* Background */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /* Accent */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  /* Accent */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  /* Sora */
  --display-large: 800 4.5rem/130% "Sora", sans-serif;
  --display-medium: 800 2.5rem/130% "Sora", sans-serif;
  --display-small: 700 2rem/130% "Sora", sans-serif;

  /* Roboto Mono */
  --overline: 700 1rem/150% "Roboto Mono", sans-serif;

  /* Roboto Flex */
  --paragraph-large: 500 1rem/150% "Roboto Flex", sans-serif;
  --paragraph-medium: 500 0.875rem/150% "Roboto Flex", sans-serif;
  --paragraph-small: 500 0.75rem/150% "Roboto Flex", sans-serif;
  --label-medium: 700 1.25rem/150% "Roboto Flex", sans-serif;
  --label-small: 700 1rem/150% "Roboto Flex", sans-serif;
}
